body {
  background-color: #292a32;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding: auto;
}

.col {
  background-color: rgb(237, 235, 235);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

h2 {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

.disabled {
  color: #999;
  pointer-events: none;
}

button {
  width: 10svw;
  height: 3svw;
  margin: 10px auto;
  border: none;
  background-color: #ed6a32;
  font-family: "Cormorant Infant", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: white;
  font-size: 1.001rem;
}

button.disabled {
  color: #a76447;
  background-color: #f6956b;
}

#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  width: 650px;
}

#images li {
  margin: 7px;
}
