* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    margin: 30px;
    text-align: center;
}

#sales {
    margin: 0 auto;
    width: 100%;
}

.sale-list-item {
    background-color: rgb(234, 237, 250);
    margin: 15px auto;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
}

.item {
    float: left;
    margin-right: 50px;
}

.item, .total {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.date-time {
    color: gray;
    font-size: 0.8rem;
}

