body {
  color: white;
  font-family: "Special Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
    margin-top: 0;
  font-family: "Special Gothic Expanded One", sans-serif;
}

div {
  background-color: white;
  color: black;
}

#page-title {
    text-decoration: underline;
}

#clouds {
    padding: 5px;
    background-color: #155bb5;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  margin: 3vw 3vw;
  background-color: transparent;
}

.container {
  width: 33%;
  margin: 1vw;
  padding: 2vw;
}

img {
  width: 100%;
}

.col {
    flex-direction: column;
}

.red {
    background-color: #DF0A0A;
    width: 100%;
    height: 40%;
    margin: 5% 0;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    margin: auto;
  }

  .container {
    width: 90%;
    padding: 20px;
  }

  .red {
    height: 40vw;
  }
}