h1 {
  font-family: "Special Gothic", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-variation-settings: "wdth" 87;
}

h2 {
  font-family: "Special Gothic", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 426;
  font-variation-settings: "wdth" 109;
}

body {
  font-family: "Special Gothic", "Helvetica Neue", Helvetica, sans-serif;
}
