body {
  font-family: "Libre Franklin", sans-serif;
  margin: 5svh 5vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.r-25 {
  height: 25%;
}

.r-70 {
  height: 70%;
}

.c-33 {
  width: 33.33%;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
    font-size: 1.7rem;
}
